.item-faq {
  h3 {
    cursor: pointer;
    background-color: #f0f2f5;
    margin: 0;
    padding: 15px 30px;
    color: #717482;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    border-radius: 6px;
    justify-content: space-around;
    p {
      width: 85%;
      background-color: #f0f2f5;
      margin: 0;
    }
  }
  p {
    background-color: white;
    font-size: 1.6rem;
    margin-left: 20px;
  }
}
@media screen and (max-width: 812px) {
  .item-faq {
    h3 {
      cursor: pointer;
      background-color: #f0f2f5;
      margin: 0;
      padding: 15px 30px;
      color: #717482;
      font-size: 1.6rem;
      display: flex;
      align-items: center;
      border-radius: 6px;
      justify-content: space-around;
      min-height: 50px;
      p {
        width: 85%;
        background-color: #f0f2f5;
        margin: 0;
      }
    }
    p {
      background-color: white;
      font-size: 1.6rem;
      margin-left: 20px;
    }
  }
}
