.company-recognition {
  .company-recognition__wrap {
    text-align: center;
    background-color: #f0f2f5;
    margin-top: -150px;
    padding: 130px 0 100px;
    overflow: hidden;
    h2 {
      color: #555;
      font-size: 30px;
      text-transform: uppercase;
      font-family: "aileronregular";
      margin-bottom: 60px;
    }
    .item-wrap {
      outline: none;
      width: 100%;
      margin: auto;
      cursor: pointer;
      .item-recognition {
        width: 95%;
        margin: auto;
        background-color: white;
        min-height: 300px;
        img {
          width: 50%;
          height: 100px;
          margin: auto;
          padding: 30px;
        }

        p {
          font-size: 1.6rem;
          margin-top: 20px;
        }
      }
    }
  }
}
